# **Web Scraping: HTML Tables with Python**
    - **Link tutorial**: https://youtu.be/15f4JhJ8SiQ<br>
    - **Link source for scraping**: https://www.skysports.com/premier-league-table

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [37]:
url = ' https://www.skysports.com/premier-league-table'

r = requests.get(url)
soup = BeautifulSoup(r.text,'html.parser')
# print(soup)

league_table = soup.find('table', class_='standing-table__table callfn')
# print(league_table)

In [51]:
tablelist = []

for team in league_table.find_all('tbody'):
    rows = team.find_all('tr')
    for row in rows:
        pl_no = row.find('td', class_='standing-table__cell').text.strip()
        pl_team = row.find('td', class_='standing-table__cell standing-table__cell--name').text.strip()
        #pl_points = row.find('td', class_='standing-table__cell is-hidden--bp35').text.strip()
        pl_game = row.find_all('td', class_='standing-table__cell')[2].text
        pl_win = row.find_all('td', class_='standing-table__cell')[3].text
        pl_drawn = row.find_all('td', class_='standing-table__cell')[4].text
        pl_lose = row.find_all('td', class_='standing-table__cell')[5].text
        pl_goalsFor = row.find_all('td', class_='standing-table__cell')[6].text
        pl_goalsAgainst = row.find_all('td', class_='standing-table__cell')[7].text
        pl_goalDifference = row.find_all('td', class_='standing-table__cell')[8].text
        pl_point = row.find_all('td', class_='standing-table__cell')[9].text
        #print(pl,no,pl_team,pl_game,pl_win,pl_drawn,pl_lose,pl_goalsFor,pl_goalsAgainst,pl_goalDifference,pl_point)
        
        table = {
            '#':pl_no,
            'Team':pl_team,
            'Played':pl_game,
            'Won':pl_win,
            'Lose':pl_lose,
            'GF':pl_goalsFor,
            'GA':pl_goalsAgainst,
            'GD':pl_goalDifference,
            'Points':pl_point
        }
        
        tablelist.append(table)
        #print(table)

In [52]:
premier_league = pd.DataFrame(tablelist)
premier_league

     #                      Team Played Won Lose  GF  GA   GD Points
0    1           Manchester City     21  17    2  53  13   40     53
1    2                   Chelsea     21  12    2  45  16   29     43
2    3                 Liverpool     20  12    2  52  18   34     42
3    4                   Arsenal     20  11    7  33  25    8     35
4    5           West Ham United     20  10    6  37  27   10     34
5    6         Tottenham Hotspur     18  10    5  23  20    3     33
6    7         Manchester United     19   9    6  30  27    3     31
7    8   Wolverhampton Wanderers     19   8    7  14  14    0     28
8    9  Brighton and Hove Albion     19   6    4  20  20    0     27
9   10            Leicester City     18   7    7  31  33   -2     25
10  11            Crystal Palace     20   5    7  29  30   -1     23
11  12                 Brentford     19   6    8  23  26   -3     23
12  13               Aston Villa     19   7   11  25  30   -5     22
13  14               Southampton     19   4    6  20  29   -9     21
14  15                   Everton     18   5    9  23  32   -9     19
15  16              Leeds United     19   4    8  21  37  -16     19
16  17                   Watford     18   4   13  22  36  -14     13
17  18                   Burnley     17   1    8  16  27  -11     11
18  19          Newcastle United     19   1   10  19  42  -23     11
19  20              Norwich City     19   2   13   8  42  -34     10